html, body {
    height: 100% !important;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100% !important;
}

.content-wrapper {
    overflow: auto;
    height: 100% !important;
}


.MarginRight {
    margin-right: 5px !important;
}

.dataTables_info, .hideItem, .e-header, #n-resize, #w-resize, #s-resize, #e-resize {
    display: none !important;
}

.table {
    margin-bottom: 10px !important;
    border-bottom: 0px !important;
}

.dataTables_length {
    font-size: 13px;
}

    .dataTables_length label {
        font-weight: 100;
    }

        .dataTables_length label select {
            margin-left: 5px;
            border: 1px solid #d0c9c9;
            padding: 2px;
            /*border-radius: 5px;*/
            margin-right: 5px;
        }

span a .paginate_button.current {
    border-radius: 5px !important;
    font-size: 13px !important;
    background: white !important;
    border: 1px solid #d2c5c5 !important;
}

.modal-header.bg-theme {
    border-radius: 0 !important;
    color: white;
    background: rgb(60, 141, 188) !important;
    text-align: center;
}

.btn.grey-mint.btn-outline {
    border-color: #525e64;
    color: #525e64;
    background: 0 0;
}

    .btn.grey-mint.btn-outline:hover {
        color: white;
        background: #525e64;
    }

.modal-content {
    border-radius: 6px !important;
}
/************Login Page Design*************************/
.WhiteClass {
    color: white
}

.no-padding {
    background-image: url("../ProfileImages/LoginImage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.panel-transparent {
    background: none;
}

    .panel-transparent .panel-heading {
        background: rgba(0, 0, 0, 0.5) !important;
    }

    .panel-transparent .panel-body {
        background: rgba(0, 0, 0, 0.2) !important;
        height: 250px;
    }

.pnl-body-from-top {
    margin-top: 80px;
}

@media only screen and (max-width: 500px) {
    .NoMargin {
        margin-top: 5px !important;
    }
}

@media only screen and (min-width: 700px) {
    .ContentHeight {
        height: 100% !important;
    }
}

.errorClass {
    border: 2px solid red;
}
/*---------------------------------------------*/

.sweet-alert h2 {
    font-size: 20px
}

.confirm.btn.btn-lg.btn-default.blue {
    color: white;
    background: #3c8dbc;
}

.sa-confirm-button-container {
    float: left;
    margin-left: 35%;
}

.cancel.btn.btn-lg.btn-danger {
    margin-right: 37%;
    float: right;
}

/*Loader CSS*/
.blockUI {
    position: absolute;
    z-index: 99999;
    top: 0;
    bottom: 0;
    margin: 0;
    left: 0;
    right: 0;
}

.arrow {
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
    animation-duration: 0.5s;
    height: 80px;
    width: 80px;
    border: 10px solid #3c8dbc;
    border-top: 10px solid transparent;
    position: relative;
}

.spinner:last-child {
    margin: 0;
}

.spinner {
    border-radius: 50px;
    -webkit-animation: spin 0.5s infinite linear;
    -moz-animation: spin 0.5s infinite linear;
    animation: spin 0.5s infinite linear;
    margin-right: 10px;
    display: inline-block;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.blockUI.blockMsg.blockPage {
    z-index: 9999 !important;
    background-color: transparent !important;
    border: none !important;
    left: 45% !important;
}

/*Theme MEnu */
.skin-blue .main-header .navbar {
    background-color: #3b515c;
}
.skin-blue .main-header .logo,.skin-blue .main-header .logo:hover
,.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #203037;
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #3b515c;
}
.skin-blue .sidebar-menu>li:hover>a{
    background: #203037;
}
.skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a{
background: #426a6c;
}
.user-panel>.image>img {
    width: 100%;
    max-width: 30px;
    height: 30px;
} 
.user-panel{
    padding-right:0 !important;
}
.skin-blue .sidebar-menu>li.active>a {
    border-left-color: #203037;
}
.skin-blue .sidebar-menu>li.active>a:before {
     content: "";
    border-style: solid;
    border-width: 8px 9px 8px 0;
    border-color: transparent #ecf0f5 transparent transparent;
    position: absolute;
    right: 0;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #eee;
    border-color: #203037;
}

.skin-blue .main-header .navbar .nav>li>a:hover, .skin-blue .main-header .navbar .nav>li>a:active, .skin-blue .main-header .navbar .nav>li>a:focus, .skin-blue .main-header .navbar .nav .open>a, .skin-blue .main-header .navbar .nav .open>a:hover, .skin-blue .main-header .navbar .nav .open>a:focus, .skin-blue .main-header .navbar .nav>.active>a {
    background: rgb(32, 48, 55);
    color: #f6f6f6;
}
/*End*/

/*Profile Settings*/
li.dropdown.user.user-menu.open .dropdown-menu {
       top: 50px;
       box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
        -webkit-box-shadow:0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
        -moz-box-shadow:0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
    border: 0 !important;
    border-top: 0 !important;
   
    right: 0px;
}
.skin-blue .main-header li.user-header{
     background-color:#426a6c !important;
}
li.dropdown.user.user-menu a.dropdown-toggle {
    display: flex;
    height:50px;
    background-color: #426a6c !important;
}
.navbar-nav>.user-menu .user-image{
    margin-right:0 !important;
}
/*End*/


/*Button Styling*/
.btn.ams-btn{
    background-color: #15b0be !important;
    color: white !important;
        border-radius: 2px !important;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
        -webkit-box-shadow:0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
        -moz-box-shadow:0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
    border: transparent;
}
.box{
    border: 1px solid gainsboro;
   border-top: 2px solid #426a6c;
}

.ams-element-centered{
    margin:0 auto;
    float:none;
}
.ams-cancel-btn{
        background-color: transparent;
            margin-right: 5px;
    border: 1px solid #3b515c;
}
.ams-cancel-btn:hover{
        background-color: #3b515c;
        color:white;
}
/*End*/