html, body {
    height: 100% !important;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100% !important;
}

.content-wrapper {
    overflow: auto;
    height: 100% !important;
}


.MarginRight {
    margin-right: 5px !important;
}

.dataTables_info, .hideItem, .e-header, #n-resize, #w-resize, #s-resize, #e-resize {
    display: none !important;
}

.table {
    margin-bottom: 10px !important;
    border-bottom: 0px !important;
}

.dataTables_length {
    font-size: 13px;
}

    .dataTables_length label {
        font-weight: 100;
    }

        .dataTables_length label select {
            margin-left: 5px;
            border: 1px solid #d0c9c9;
            padding: 2px;
            /*border-radius: 5px;*/
            margin-right: 5px;
        }

span a .paginate_button.current {
    border-radius: 5px !important;
    font-size: 13px !important;
    background: white !important;
    border: 1px solid #d2c5c5 !important;
}

.modal-header.bg-theme {
    border-radius: 0 !important;
    color: white;
    background: rgb(60, 141, 188) !important;
    text-align: center;
}

.btn.grey-mint.btn-outline {
    border-color: #525e64;
    color: #525e64;
    background: 0 0;
}

    .btn.grey-mint.btn-outline:hover {
        color: white;
        background: #525e64;
    }

.modal-content {
    border-radius: 6px !important;
}
/************Login Page Design*************************/
.WhiteClass {
    color: white
}

.no-padding {
    background-image: url("../ProfileImages/LoginImage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.panel-transparent {
    background: none;
}

    .panel-transparent .panel-heading {
        background: rgba(0, 0, 0, 0.5) !important;
    }

    .panel-transparent .panel-body {
        background: rgba(0, 0, 0, 0.2) !important;
        height: 250px;
    }

.pnl-body-from-top {
    margin-top: 80px;
}

@media only screen and (max-width: 500px) {
    .NoMargin {
        margin-top: 5px !important;
    }
}

@media only screen and (min-width: 700px) {
    .ContentHeight {
        height: 100% !important;
    }
}

.errorClass {
    border: 2px solid red;
}
/*---------------------------------------------*/

.sweet-alert h2 {
    font-size: 20px
}

.confirm.btn.btn-lg.btn-default.blue {
    color: white;
    background: #3c8dbc;
}

.sa-confirm-button-container {
    float: left;
    margin-left: 35%;
}

.cancel.btn.btn-lg.btn-danger {
    margin-right: 37%;
    float: right;
}

/*Loader CSS*/
.blockUI {
    position: absolute;
    z-index: 99999;
    top: 0;
    bottom: 0;
    margin: 0;
    left: 0;
    right: 0;
}

.arrow {
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
    animation-duration: 0.5s;
    height: 80px;
    width: 80px;
    border: 10px solid #3c8dbc;
    border-top: 10px solid transparent;
    position: relative;
}

.spinner:last-child {
    margin: 0;
}

.spinner {
    border-radius: 50px;
    -webkit-animation: spin 0.5s infinite linear;
    -moz-animation: spin 0.5s infinite linear;
    animation: spin 0.5s infinite linear;
    margin-right: 10px;
    display: inline-block;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.blockUI.blockMsg.blockPage {
    z-index: 9999 !important;
    background-color: transparent !important;
    border: none !important;
    left: 45% !important;
}
